<h1>Bienvenidos al coderChat comunitario de la comision 55575</h1>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
{{!-- Se instala aqui la dependencia de sweetalert2 para utilizarla en index.js --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
